# Node dependencies
node_modules/

# Build output
dist/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# VSCode settings
.vscode/

# Mac / Windows junk
.DS_Store
Thumbs.db